/* .playfair-display-<uniquifier> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

  body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: var(--color-dark);
    /* width: 100%; */
  
    
    --color-petrol-dark: #133f44;
    --color-petrol-dark-hsl: 186.12, 56.32%, 17.06%;
    --color-petrol-light: #2c8791;
    --color-petrol-light-hsl: 185.94, 53.44%, 37.06%;
    --color-gold: #ce944f;
    --color-gold-hsl: 32.6, 56.44%, 55.88%;
    --color-gold-light: #ded0be;
    --color-dark: #1e2020;
    --color-white: #FFFFFF;
  
    --media-mobile-width: 900px;
  }
  img{
    max-width: 100%;
  }
  h1, h2{
    margin-top: 0;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.1;
  }
  
  
  .main {
      /* margin-top: 4em; */
  }
  section{
    padding: 4em 0;
  }
  .nav, .container{
    width: 85%;
    margin: 0 auto;
    /* max-width: 1128px; */
    /* border: 1px solid orange; */
  }
  
  header, footer{
    background: var(--color-petrol-dark);
    padding: 1em 0;
    text-align: center;
  }
  
  footer{
    color: var(--color-gold-light);
  }
  
  @media (min-width: 900px){
    .footer{
      align-items: center;
      justify-content: space-between;
    }
    .footer--left{
      text-align: left;
    }
    .footer--right{
      text-align: right;
    }
  }
  .nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    background-color: hsl(var(--color-petrol-light-hsl) ,0.8);
    border: 1px solid var(--color-paetrol-dark);
  }
  
  .nav__item{
    margin-top: 0.25em;
  }
  
  .nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav__list--secondary{
    margin: 0.75em 0;
  }
  
  a:link, a:visited, a:hover, a:active{  /* use nav__link */}
  
  .nav__link{
    color: var(--color-gold);
    text-decoration: none;
  }
  
  .nav__link:hover, .nav__link:focus{
    opacity: 0.85;
    text-decoration-line: underline;
    text-decoration-color: hsl(var(--color-gold-hsl),0.85); 
    text-decoration-thickness: 1px; 
    text-underline-offset: 5px;
  } 
  
  a.nav__link--button{
    background-color: var(--color-gold);
    color: var(--color-petrol-dark);
    padding: 0.2em 0.6em;
    border-radius: 30px;
    
    font-weight: 500;
  }
  
  .nav--visible {
    visibility: visible;
    height: auto;
    position: absolute;
    /* position: relative; */
    width: 100%;
    left: 0;
  } 
  
  .nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: hsl(var(--color-gold-hsl) ,0.8);
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 2em;
  }
  
  .nav-toggle:focus,
  .nav-toggle:hover {
    opacity: .75;
  }
  
  .logo {
    visibility: hidden;
    height: 30px;
  }
  
  .logo--visible{
    visibility: visible;
  }
  
  /* menu different to mobile */
  /* @media (min-width: 800px){
    .nav-toggle{
      display: none;
    }
    .nav{
      visibility: visible;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      position: relative;
    }
    .nav__list{
      display: flex;
      margin: 0;
    }
    .nav__item{
      margin: 0.5em 0 0.5em 1.5em;
    }
    .nav__list--secondary{
      margin-right: 1.5em;
    }
  } */
  
  
  .intro__title{
    font-size: 3rem;
    color: var(--color-gold);
    padding: 0;
  }
  .intro{
    display: flex;
    align-items: center;
    background-color: var(--color-petrol-dark);
    padding: 0 0 5em 0;
    text-align: center;
    min-height: 660px;
    /* min-height: 80vh; like a teaser */
  }
  .intro__text{
    color: black;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 1em;
    text-transform: uppercase;
    margin: 0 0 .25em;
    /* color: var(--color-gold); */
  }
  
  .salespoint{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
  }
  
  .salespoint__card{
    min-width: 20%;
    border-radius: 15px;
    border: 0.1em solid var(--color-gold);
    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5);
    /* box-shadow: 3px 3px 25px 5px hsl(var(--color-gold-hsl)0.2); */
    background-color: var(--color-gold-light);
    padding: 0.5em;
  }
  .salespoint__card__title{
    font-weight: 900;
    text-align: center;
  }
  @media (min-width: 900px){
    .salespoint{
      flex-direction: row;
    }
  }
  
  .section-paragraph--dark{
    color: var(--color-gold-light);
  }
  .section-salespoints{
    background-color: var(--color-petrol-dark);
  }
  .section-title{
    color: var(--color-gold-light);
    font-size: 2.25rem;
  }
  .section-title--dark{
    color: var(--color-gold);
  }
  .section-three{
    background-color: var(--color-petrol-dark);
    color: var(--color-white);
  }
  .section-four{
    background-color: var(--color-gold);
    color: var(--color-white);
  }
  .btn_hero{
    background: rgba(128, 128, 128, 0.577);
    border-radius: 12px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--color-white);
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .f__baseline{
    justify-content: baseline;
  }
  .f__start{
    justify-content: flex-start;
  }
  .f__end{
    /* display: flex; */
    align-items: flex-end;
  }
  
  .hamburger {
    width: 50%;
    position: relative;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: var(--color-petrol-dark);
  }
  
  .hamburger::before,
  .hamburger::after {
    content: '';
    width: 100%;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
    
    @media (min-width: 900px){
      .row{
          display: flex;
      }
      .col{
          width: 100%;
      }
      .col + .col{
          margin-left: 3em;
      }
      /* .row {
          display: flex;
          justify-content: space-between;
  
      } */
      .intro__title{
          font-size: 3.75rem;
      }
    }